# ================= FLUTTER =================

build/
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins-dependencies

# Android

android/.gradle/
android/app/build/

# iOS

ios/Pods/

# Linux / Windows / macOS generated

linux/flutter/generated_plugin_registrant.*
linux/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift

# ================= PYTHON =================

venv/
.venv/
**pycache**/
*.pyc

# ================= VS CODE =================

.vscode/

# ================= SYSTEM FILES =================

.DS_Store
Thumbs.db

# ================= FIREBASE =================

*.json

# ================= OTHER =================

*.log


# Ignore AI models
smart_pre_recycling_backend/models/
*.h5
*.pt
*.keras

